
#deviceList {
    background: #d6edff;
    width: 120px;
    padding: 0;

    .md-accordion {

        .mini-toolbar {
            min-height: 30px;
            height: 30px;
            color: #ffffff;
            background-color: #2196F3;

            .md-toolbar-tools {
                font-size: 15px;
                
                svg {
                    fill: #ffffff;
                }
            }
        }
        .dataContent {
            md-list {
                padding: 0;
    
                md-list-item {
                    .device {
                        padding-top: 5px;
                        md-icon.badge {
                            position: absolute;
                            top: 5px;
                            right: 15px;
                            
                            svg {
                                fill: #4CAF50;
                                width: 130%;
                                height: 130%;
                                background: white;
                                border-radius: 50%;
                            }
                        }
                        img {
                            width: 70%;
                            margin: 0 auto;
                        }
                        label {
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}

#deviceContainer {
    padding: 60px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    
    #orientation {
        transition: all ease 1s;
        transform-origin: top left;
        width: 100%;
        height: 100%;
        
        &.landscape {
            transform: rotateZ(-90deg) translateX(-300px);
            
            #webview {
                transform: scale(2) rotateZ(90deg) translateY(-100%) !important;
            }
        }
    }

    #device {
        background-repeat: no-repeat;
        box-sizing: border-box;
        transform-origin: top left;

        #webview {
            width: 100%;
            height: 100%;
            transform-origin: top left;
            transition-delay: 1.5s !important;
        }
    }
}