<md-toolbar layout="row" class="md-toolbar-tools">
    <h1>{{$ctrl.app.name}}</h1>
    <span flex></span>
    <md-button class="md-icon-button">
        <md-icon md-svg-icon="assets/fonts/ic_screen_rotation_black_24px.svg"></md-icon>
    </md-button>
</md-toolbar>

<md-content flex layout="row" id="content">

    <md-list id="deviceList" flex="20">
        <div class="md-accordion" ng-repeat="(type, list) in $ctrl.devicesList">
            <md-toolbar class="mini-toolbar" ng-init="$ctrl.acc[type].expanded = false"
                        ng-click="$ctrl.acc[type].expanded = !$ctrl.acc[type].expanded">
                <div class="md-toolbar-tools">
                    {{type}}
                    <span flex></span>
                    <span ng-class="{expandCollapse:true, active:$ctrl.acc[type].expanded}"></span>
                </div>
            </md-toolbar>
            <div ng-class="{dataContent:true, activeContent:$ctrl.acc[type].expanded}">
                <md-list>
                    <md-list-item ng-repeat="device in list" ng-click="$ctrl.setDevice(device)">
                        {{device.model}}
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </md-list>

    <div flex>

        <webview id="webview"
                 ng-src="{{$ctrl.app.full}}"
                 useragent="{{$ctrl.device.userAgent}}"
                 style="width:{{$ctrl.device.width}}px; height:{{$ctrl.device.height}}px"
        ></webview>

    </div>

</md-content>