
<md-content flex layout="row" id="content">

    <md-list id="deviceList">
        <div class="md-accordion" ng-repeat="(type, list) in $ctrl.devicesList track by $index">
            <md-toolbar class="mini-toolbar" ng-init="$ctrl.acc[type].expanded = ($index == 0)"
                        ng-click="$ctrl.acc[type].expanded = !$ctrl.acc[type].expanded">
                <div class="md-toolbar-tools">
                    {{type}}
                    <span flex></span>
                    <md-icon md-svg-icon="assets/fonts/arrow_right.svg"
                             ng-class="{'expanded' : $ctrl.acc[type].expanded}"></md-icon>
                </div>
            </md-toolbar>
            <div class="dataContent" ng-class="{activeContent:$ctrl.acc[type].expanded}">
                <md-list>
                    <md-list-item ng-repeat="device in list" ng-click="$ctrl.setDevice(device)">

                        <div class="device" layout="column" layout-align="center center">
                            <md-icon class="badge" md-svg-icon="assets/fonts/check_circle.svg"
                                     ng-show="device.model == $ctrl.device.model"></md-icon>
                            <img ng-src="devices/thumbs/{{device.thumb}}">
                            <label>{{device.model}}</label>
                        </div>

                    </md-list-item>
                </md-list>
            </div>
        </div>
    </md-list>

    <div id="deviceContainer">
        <div id="orientation">
            <div id="device" ng-style="$ctrl.device.deviceStyle">

                <webview id="webview"
                         src="default.html"
                         ng-style="$ctrl.device.displayStyle">

                </webview>

            </div>
        </div>
    </div>

</md-content>