
<md-content flex layout="row" id="content">

    <md-list id="deviceList">
        <div class="md-accordion" ng-repeat="(type, list) in $ctrl.devicesList">
            <md-toolbar class="mini-toolbar" ng-init="$ctrl.acc[type].expanded = false"
                        ng-click="$ctrl.acc[type].expanded = !$ctrl.acc[type].expanded">
                <div class="md-toolbar-tools">
                    {{type}}
                    <span flex></span>
                    <md-icon md-svg-icon="assets/fonts/ic_keyboard_arrow_right_black_24px.svg"
                             ng-class="{'expanded' : $ctrl.acc[type].expanded}"></md-icon>
                </div>
            </md-toolbar>
            <div class="dataContent" ng-class="{activeContent:$ctrl.acc[type].expanded}">
                <md-list>
                    <md-list-item ng-repeat="device in list" ng-click="$ctrl.setDevice(device)">
                        {{device.model}}
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </md-list>

    <div id="deviceContainer" flex>

        <div id="device" ng-style="$ctrl.device.deviceStyle">

            <webview id="webview"
                     src="default.html"
                     ng-style="$ctrl.device.displayStyle">

            </webview>

        </div>

    </div>

</md-content>