

<md-toolbar id="header" ng-include="'js/controllers/view/header/header.html'"></md-toolbar>

<md-content flex layout="row" id="container">

    <!-- md-list #deviceList-->
    <md-list id="deviceList" ng-include="'js/controllers/view/deviceList/deviceList.html'"></md-list>

    <div id="mainContainer" flex layout="column">

        <!-- md-toolbar #toolbar-->
        <md-toolbar id="toolbar" class="mini-toolbar" layout="row" layout-align="start center"
                    ng-include="'js/controllers/view/toolbar/toolbar.html'"></md-toolbar>

        <div id="deviceContainer">
            <div id="device"
                 ng-class="{'landscape' : $ctrl.device.orientation == $ctrl.ORIENTATIONS.LANDSCAPE}"
                 ng-style="$ctrl.dynamicScale()">

                <img id="frame"
                     ng-style="$ctrl.device.frameStyle"
                     ng-src="devices/frames/{{$ctrl.device.frame.image}}" />

                <webview id="display"
                         src="default.html"
                         ng-style="$ctrl.device.displayStyle">

                </webview>

            </div>
        </div>
    </div>

</md-content>