
#toolbar {
    background: #2196F3;
    color: red;
    height: 30px !important;
    min-height: 30px !important;
    overflow: hidden;

    button {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

md-tooltip .md-content {
    font-size: 11px !important;
    height: 20px !important;
    line-height: 20px !important;
    padding-left: 10px;
    padding-right: 10px;
}