
#header {
    height: 55px !important;
    min-height: 55px !important;
    
    md-toolbar-filler {
        width: 100px;
        
        md-icon {
            width: 30px;
            height: 30px;
        }
    }
    
    h3 {
        line-height: 1rem;
        margin: 0;
        padding: 21px;
        color: white;
        padding-left: 0;
    }
}