
md-toolbar {
    md-toolbar-filler {
        width: 100px;
        
        md-icon {
            width: 30px;
            height: 30px;
        }
    }
    
    h2 {
        line-height: 1rem;
        height: auto;
        padding: 21px;
        color: white;
    }
}