
@import "header/header";
@import "deviceList/deviceList";
@import "toolbar/toolbar";

#container {
    #mainContainer {
        width: 100%;
        height: 100%;
    }
}

#deviceContainer {
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;

    #device {
        transform-origin: top left;
        position: relative;
        
        #frame {
            transform-origin: top left;
            //transition: all ease 0.5s;
        }

        #display {
            transform-origin: top left;
            position: absolute;
            //transition: all ease 0.5s;
        }
    }
    
    #device.landscape {
        #frame {
            transform: rotateZ(90deg) translateY(-100%);
        }
    }
}