
.md-accordion {
    
    md-toolbar {
        cursor: pointer;
        outline: none;
        
        md-icon {
            -webkit-transition: all ease 0.3s;
            transition: all ease 0.3s;
            
            &.expanded {
                -webkit-transform: rotateZ(90deg);
                transform: rotateZ(90deg);
            }
        }
    }
    
    .dataContent {
        background: #F2F2F2;
        height: 0;
        overflow: hidden;
        -webkit-transition: .3s all ease-out;
        transition: .3s all ease-out;
        padding-left: 10px;
        padding-right: 10px;
        
        &.activeContent {
            height: auto;
            padding-top: 20px;
            padding-bottom: 20px;
            display: block;
        }
    }
}